/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
}

main {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    background-color: rgb(24, 24, 24);
}

.meetings-container {
    flex-grow: 1;
    height: calc(100vh - 80px);
    position: relative;
}


/* MEETINGS VIDEO */


/* Badges */
.badge {
    color: white;
    background-color: rgba(211, 211, 211, 0.6);
    padding: 8px 5px;
    font-size: 12px;
}

.badge-container {
    position: absolute;
    top: 0;
    right: 0;
    gap: 10px;
}

.badge-container > .badge {
    border-radius: 5px;
    display: inline-block;
}

.badge-container :last-child i{
    transform: rotate(45deg);
}
/* badges end */


/* TOOLBAR */

.toolbar {
    height: 80px;
    background-color: rgb(41, 41, 41);
    padding-left: 20px;
    color: white;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.toolbar i {
    font-size: 24px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    height: 100%;
}
.col {
    display: flex;
    gap: 20px;
    height: 100%;
}

.button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.green {
    color: rgb(44, 182, 44);
}

.end-meeting-button {
    background-color: rgba(255, 255, 255, 0.3);
    color: red;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
